.layout {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin-left: 250px;
    /* Sidebar width */
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* Prevent flex overflow */
}

.content {
    flex: 1;
    padding: 2rem;
    background-color: var(--background);
    overflow-y: auto;
}