.container {
    max-width: 1000px;
    margin: 0 auto;
}

.actions {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn {
    background-color: var(--foreground);
    color: var(--background);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 1rem;
    border-bottom: 1px solid var(--border);
    text-align: left;
}

.input {
    padding: 0.5rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    width: 100%;
}

.textBtn {
    background: none;
    border: none;
    color: var(--destructive);
    cursor: pointer;
}